.edit-user--container {
  display: flex;
  justify-content: center;

  max-width: 80%;
  margin: 2.5rem auto;
}

.edit-user--form-container button {
  margin-right: 0.5rem;
}

@media (min-width: 720px) {
  .edit-user--form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
}

.edit-user--btn {
  width: 7rem;
}

.edit-user--btn__start {
  justify-self: start;
}

.edit-user--btn__end {
  justify-self: end;
}

.header--container {
}

.header__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
